.uppercase-input {
    text-transform: uppercase !important;
  }

  /* .disabled-select {
    background-color: #fff7f7;
    color: black !important;
  } */



  .let {
    text-transform: lowercase;
}

.let:first-letter {
    text-transform: uppercase;
}